@import "tailwindcss";

:root {
  --background: #eff6ff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto-slab);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-roboto-slab), sans-serif;
}
